---
import {getCollection} from 'astro:content'
const blogPosts = await getCollection("blog")
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title='Blog'>
    <main>
        <h1>For all my ramblings, musings, and thoughts about stuff</h1>
        {
            blogPosts.map((post) => (
                <h2>
                    <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                </h2>
            ))
        }
    </main>
</BaseLayout>
