---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<style>
    img{
        max-width: 40vw;
        max-height: 50vh;
        border-radius: 50%;
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
<BaseLayout title='Home'>
    <div>
    <h2>Jordan Gopie's Personal Presence</h2>
        <img src="photo.png" alt="AI-generated image of Jordan Gopie"/>
        <h2>👋 My name is Jordan and welcome to my corner of the internet.</h2>
            <div>
                <p>
                    I'm a Business major who graduated from the University of the West Indies
                    in 2018. I've been programming for most of my life, but moved into doing it professionally
                    when a friend of mine needed extra hands on deck with his start-up.
                </p>
                <p>
                    Learning is my addiction. My programming journey started many years ago with Pascal,
                    before then moving on to C, C++, Python, and, most recently, Javascript and Typescript. 
                    I enjoy learning about new languages, technologies, and frameworks.
                </p>
            </div>
    </div>
</BaseLayout>
