---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<style>
    article{
        width: 90vw;
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>

<BaseLayout title='Resume'>
    <article>
        <h2>Work History</h2>
        <ul>
            <li>
                <h3>Red Ants Caribbean Ventures - Part Time Developer</h3>
                <p>
                    My role was admittedly small, being mostly responsible for making 
                    small bugfixes to the now defunct sales platform.
                </p>
            </li>
            <li>
                <h3>UNIPET - Fuel Dispatcher</h3>
                <p>
                    This is my full time job, and the first real job I got after graduating
                    university. Simply put, I was stationed at the fuel supplier's facility and responsible
                    for creating documents, and ensuring that the daily master schedule was adhered too and that
                    customers received their fuel in a timely manner.
                </p>
            </li>
        </ul>
    </article>
</BaseLayout>
