---
import { Footer } from '../components/footer/footer';
import { Navbar } from '../components/navbar/navbar';
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta
            http-equiv='X-UA-Compatible'
            content='IE=edge'
        />
        <meta
            name='viewport'
            content='width=device-width, initial-scale=1.0'
        />
        <title>{title}</title>
        <link href="https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,400&display=swap" rel="stylesheet">
        <style>
            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            body{
                font-family: 'Satoshi', sans-serif;
                color: white;
                background-color: black;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 100vh;
            }
        </style>
    </head>
    <body>
        <Navbar />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>
